body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.jumbotron {
  text-align: center;
}

.jumbotron h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #cccccc;
}

.top-bar {
  background: url(../images/topBar.png) no-repeat center;
  background-size: cover;
}

.container .gray {
  color: gray;
}

.container {
  .footer {
    width: 25%;
  }
}
