<div class="container">
  <div class="jumbotron">
    <h1>Academic Staff Info Management</h1>

    <h2>...Managing academic staffs better.</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
  </div>
</div>
